@import 'variables.scss';

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;

}

div {
  margin: 0;
  padding: 0;
}
