@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Font

// TODO decide font
$poppins: 'Poppins', sans-serif;

// All the colors of the site
$yellow: #f7c52b;
$light-gray: #898b8a;
$dark-gray: #7b7d7c;
$black: #000000;
$white: #ffffff;
$orange: #ea5f26;

// TODO tem em algumas artes que vi no instagram
// $brown: ;
// $white-skin: ;
