@import '../../sass/variables.scss';

.serviceBlock {
  margin: 40px 25px 40px 25px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 80px;
  background-color: $yellow;
  opacity: 0.75;
}

.serviceBlockTitle {
  padding: 10px;
  color: $black;
  font-size: 34px;
  font-family: $poppins;
  font-weight: 900;
  line-height: 1.2em;
  text-transform: uppercase;
}

.serviceBlockText {
  padding: 10px;
  font-size: 28px;
  color: $black;
  font-family: $poppins;
}
