@import '../../sass/variables.scss';

.aboutBlock {
  margin: 30px 25px 30px 25px;
  padding: 10px;
  text-align: center;
  border-radius: 80px;
  background-color: $yellow;
}

// TODO decide lower or caps
.aboutBlockTitle {
  margin: 20px 10px 20px 10px;
  padding: 10px;
  color: $black;
  font-size: 34px;
  font-family: $poppins;
  font-weight: 900;
  line-height: 1.2em;
  text-transform: uppercase;
}

.aboutBlockText {
  margin: 20px 10px 20px 10px;
  padding: 10px;
  color: $black;
  font-size: 20px;
  font-family: $poppins;
  font-weight: 500;
}
