@import '../../sass/variables.scss';

.introBlock {
  margin: 40px 25px 40px 25px;
  padding: 10px;
  text-align: center;
  border-radius: 80px;
  background-color: $yellow;
  opacity: 0.8;
}

.introBlockText {
  margin: 20px 10px 20px 10px;
  padding: 10px;
  color: $black;
  font-size: 28px;
  font-family: $poppins;
  font-weight: 500;
  line-height: 1.2em;
  text-transform: lowercase;

  span {
    font-weight: 900;
  }
}

.introBlockPicture {
  margin: 5px 0px 5px 0px;
  padding: 0px;
  border-radius: 50px;
  align-items: center;
  vertical-align: middle;
}
