@import '../../sass/variables.scss';

.navbar {
  margin: 10px 20px 15px 20px;
  padding: 10px;
  border-radius: 80px;
  background-color: $yellow;
  opacity: 0.75;
}

.navbarInner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbarLeft {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbarRight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  margin: 0px 30px 0px 30px;
  color: $black;
  font-size: 28px;
  text-decoration: none;
  font-family: $poppins;
  font-weight: 700;
  position: relative;
  
  &:before {
    margin: 0px 10px 0px 10px;
    content: '';
    width: 26px;
    height: 26px;
    vertical-align: middle;
    display: inline-block;
    border: 2px solid $black;
  }
}

.list {
  margin: 0px 30px 0px 30px;
  padding: 0;
  display: flex;
}

.listItem {
  margin: 0;
  padding: 0;
  list-style-type: none;
  a {
    margin: 0px 10px 0px 10px;
    padding: 10px;
    color: $black;
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: $poppins;
    text-transform: lowercase;
  }
}

.instagram {
  margin: 0px 5px 0px 30px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}

.cta {
  // TODO decide background-color gray, white, or no box
  color: $black;
  margin: 0px 30px 0px 0px;
  padding: 10px;
  border-radius: 80px;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  background-color: $white;
  font-family: $poppins;
  text-transform: lowercase;
}
